:root {
    --light-purple: #C271FF;
    --idk-purple-ig: #C271FF;
}

html {
    scroll-behavior: smooth;
  }

body {
    color: white;
}

header {
    background-image: url('images/pic_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 170vh;
}

.btn {
    background-color: var(--light-purple);
    border-radius: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    color: white;
}

.jumbotron {
    background-color: transparent;
}


.m-con {
    height: 50vh;
}

.my-bg {
    background-color: var(--idk-purple-ig);
}


/* fixing collapse breakpoint */

@media (min-width: 768px) and (max-width: 1024px){

    .navbar-brand {
        order: 1;
    }
    .navbar-collapse {
        flex-grow:0;}
    .navbar-toggler, .collapse {
        display: none;
    }
    .collapse:not(.show) {
        display: flex;
    }
    .navbar-collapse {
        flex-basis: auto;
    }
    .navbar-nav {
        flex-direction: row;
    }
}